{% extends "oldblog/layout/base.html" %}
{% block title %} 博客首页 {% endblock %}
<!-- content starts-->
{% block content %}
{% load custom_markdown %}
            {% for blog in article %}
            <div class="post">
              <h2 class="post-title"><a href="{% url 'oldblog_detail' blog.id %}">{{ blog.title }}</a></h2>
              <div class="post-meta" style="font-size: 14px;font-family: Microsoft YaHei">
                <i class="fa fa-calendar" style="margin: 0 8px 0 0"></i>{{ blog.publish_time|date:"d/m/Y" }}
                <a href="{% url 'oldblog_category' blog.category.id %}" style="color: #999;"><i class="fa fa-book" style="margin: 0 8px 0 8px;"></i>{{ blog.category|capfirst }}</a>
                <i class="fa fa-eye" style="margin: 0 8px 0 8px;"></i>{{ blog.counts }}℃
              </div>
              <div class="post-content"><div class="p_part"><a href="{% url 'oldblog_detail' blog.id %}">{{ blog.content|safe|truncatechars_html:160|custom_markdown }}</a></div></div>
            </div>
            {% empty %}
              <div class="post-meta">抱歉，此分类还没有文章。</div>
            {% endfor %}
{% include "oldblog/layout/paginate.html" %}
{% endblock %}
<!-- content ends-->

{% block sidebar %}
{% include "oldblog/layout/sidebar.html" %}
{% endblock %}
