                <div class="page-navigator center">
                  {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}" class="pre">上一页</a>
                  {% endif %}

                  <div align="center" style="color:#999999;">
                    <a style="color:#999999;float: none;border:none;" href="{{ request.path }}?page={{ page_obj.number }}">{{ page_obj.number }}</a>|
                    <a style="color:#999999;float: none;border:none;" href="{{ request.path }}?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                    {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}" class="next">下一页</a>
                    {% endif %}
                  </div>
                </div>