{% extends "layout/base.html" %}
{% block title %} 博客 {% endblock %}
{% block content %}
        <div class="header-clear"></div>
        <div class="content">
            <div class="blog-posts">
                <div class="blog-post last-column">
                    <!-- <h3>置顶文章</h3> -->
                    <!-- <p>Tabs are awesome, but having them plugin-less is more amazing!</p> -->
                    <div class="tabs">
                        <a href="#" class="tab-but tab-but-1 tab-active">Tab 1</a>
                        <a href="#" class="tab-but tab-but-2">Tab 2</a>
                        <a href="#" class="tab-but tab-but-3">Tab 3</a>
                        <a href="#" class="tab-but tab-but-4">Tab 4</a>     
                    </div>
                    <div class="tab-content tab-content-1" style="background-color: rgba(238, 238, 238, 0);">
                        <p>
                            <img src="/static/blog/img/pictures/1s.jpg" class="float-left" width="70" alt="img">
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                        </p>
                    </div>
                    <div class="tab-content tab-content-2">
                        <p>
                            <img src="/static/blog/img/pictures/2s.jpg" class="float-left" width="70" alt="img">
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.                    
                        </p>
                    </div>
                    <div class="tab-content tab-content-3">
                        <p>
                            <img src="/static/blog/img/pictures/3s.jpg" class="float-left" width="70" alt="img">
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.                    
                        </p>
                    </div>
                    <div class="tab-content tab-content-4">
                        <p>
                            <img src="/static/blog/img/pictures/4s.jpg" class="float-left" width="70" alt="img">
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.
                            Sed sed gravida turpis. Suspendisse quis lacus non lacus fermentum lobortis non et orci. Nullam bibendum non ligula ut viverra.                    
                        </p>
                    </div>       
                </div> 
                <div class="decoration"></div>
            
            
                {% for blog in article %}
                <div class="blog-post">
                    <h3 class="blog-post-title"><a href="{% url 'blog_detail' blog.id %}" style="color:inherit">{{ blog.title }}</a></h3>
                    <p class="blog-post-text">
                        {{ blog.content|safe|truncatechars_html:160 }}
                    </p>
                    <p class="blog-post-date">
                        <i class="fa fa-calendar"></i>{{ blog.publish_time|date:"d/m/Y" }}
                        <a href="#" style="margin-left: 10px;color:inherit" class="hide-if-mobile"><i class="fa fa-book"></i>{{ blog.category|capfirst }}</a>
                        </p>
                    <p class="blog-post-more"><a href="{% url 'blog_detail' blog.id %}">Read More<i class="fa fa-angle-right"></i></a></p>
                </div>
                <div class="decoration"></div>
                {% endfor %}
            </div>
            {% include 'blog/blog-sidebar.html' %}
            <div class="decoration"></div>
            {% include 'layout/footer.html' %}
        </div>
{% endblock %}