{% extends "layout/base.html" %}
{% block title %} 博客 {% endblock %}
{% block content %}
{% load custom_markdown %}
        <div class="header-clear"></div>
        <div class="content">
          <div class="blog-posts">
            {% if tops %}
            <div class="blog-post last-column hide-if-mobile">
              <div class="tabs">
              {% for blog in tops %}
                {% if forloop.first %}
                <a href="#" class="tab-but tab-but-{{ forloop.counter }} tab-active">{{ blog.title }}</a>
                {% else %}
                <a href="#" class="tab-but tab-but-{{ forloop.counter }}">{{ blog.title }}</a>
                {% endif %}
              {% endfor %} 
              </div>
              
              {% for blog in tops %}
              <div class="tab-content tab-content-{{ forloop.counter }}" style="background-color: rgba(238, 238, 238, 0);{% if forloop.first %}display: block;{% endif %}">
                <!-- <img src="/static/blog/img/pictures/1s.jpg" class="float-left" width="70" alt="img"> -->
                  {{ blog.content|safe|truncatechars_html:130|custom_markdown }}
              <p class="blog-post-date" style="margin-top: 4px;">
                  <i class="fa fa-calendar"></i>{{ blog.publish_time|date:"d/m/Y" }}
                  <a href="{% url 'blog_category' blog.category.pk %}" style="margin-left: 10px;color:inherit" class="hide-if-mobile"><i class="fa fa-book"></i>{{ blog.category|capfirst }}</a>
              </p>
              <p class="blog-post-more" style="margin-top: 4px;"><a href="{% url 'blog_detail' blog.id %}">Read More<i class="fa fa-angle-right"></i></a></p>
              </div>
              {% endfor %}
            </div> 
            <div class="decoration hide-if-mobile"></div>
            {% endif %}

            {% for blog in article %}
            <div class="blog-post" style="margin-bottom:24px;">
              <h3 class="blog-post-title"><a href="{% url 'blog_detail' blog.id %}" style="color:inherit">{{ blog.title }}</a></h3>
              <p class="blog-post-text">
                  {{ blog.content|safe|truncatechars_html:160|custom_markdown }}
              </p>
              <p class="blog-post-date" style="margin-top: 4px;">
                  <i class="fa fa-calendar"></i>{{ blog.publish_time|date:"d/m/Y" }}
                  <a href="{% url 'blog_category' blog.category.pk %}" style="margin-left: 10px;color:inherit" class="hide-if-mobile"><i class="fa fa-book"></i>{{ blog.category|capfirst }}</a>
              </p>
              <p class="blog-post-more" style="margin-top: 4px;"><a href="{% url 'blog_detail' blog.id %}">Read More<i class="fa fa-angle-right"></i></a></p>
            </div>
            {% empty %}
            <li>No Article Yet.</li>
            <div class="decoration"></div>
            {% endfor %}
          </div>
          {% include 'layout/sidebar.html' %}
          {% include 'blog/paginate.html' %}
        </div>
        <div class="decoration"></div>
        {% include 'layout/footer.html' %}
{% endblock %}