{% extends "layout/base.html" %}
{% block title %} 博客 {% endblock %}
{% block content %}
        <div class="header-clear"></div>
        <div class="content">
          <div class="blog-posts">
            <div class="box-header">
              <h3 class="box-title">新增</h3>
            </div>
            <form action="" method="post" role="form" enctype="multipart/form-data">{% csrf_token %}
              {{ form }}
              <button type="submit" class="btn btn-primary btn-sm pull-right" name="operate" value="update">创建</button>
            </form>
          </div>
          {% include 'layout/sidebar.html' %}
          {% include 'blog/paginate.html' %}
        </div>
        <div class="decoration"></div>
        {% include 'layout/footer.html' %}
{% endblock %}