{% extends "oldblog/layout/base.html" %}
{% block title %} {{ year|date:"Y" }} 归档 {% endblock %}
<!-- content starts-->
{% block content %}
            <div  class="post">
              <div  class="post-archive">
                <h2>{{ year|date:"Y" }}</h2>
                {% for article in object_list %}
                  <ul class="listing">
                    <li>
                      <span  class="date">
                        <a href="{% url 'oldblog_archive_month' article.publish_time|date:'Y' article.publish_time|date:'m' %}" title="{{ article.title }} ">{{ article.publish_time|date:'Y m'}}</a>
                      </span>
                      <a href="{% url 'oldblog_detail' article.id %}" title="{{ article.title }} ">{{ article.title }} </a>
                    </li>
                  </ul>
                {% endfor %}
              </div>
            </div>
{% endblock %}
<!-- content ends-->
{% block sidebar %}
{% include "oldblog/layout/sidebar.html" %}
{% endblock %}