{% extends "oldblog/layout/base.html" %}
{% block title %} 博客归档 {% endblock %}
<!-- content starts-->
{% block content %}
            <div  class="post">
              <div  class="post-archive">
                {% for date in date_list %}
                        <h2><a  href="{% url 'oldblog_archive_year' date|date:'Y' %}">{{ date|date:'Y' }}</a></h2>
                  {% for article in archive_list %}
                    {% if date|date:"Y" == article.publish_time|date:"Y" %}
                      <ul  class="listing">
                        <li>
                        <span class="date">
                          <a href="{% url 'oldblog_archive_month' article.publish_time|date:'Y' article.publish_time|date:'m' %}"  title="{{ article.title }} ">{{ article.publish_time|date:'m月 d日' }}</a>
                        </span>
                          <a href="{% url 'oldblog_detail' article.id %}"" title="{{ article.title }}">{{ article.title }}</a>
                        </li>
                      </ul>
                    {% endif %}				
                  {% endfor %}
                {% endfor %}
              </div>
            </div>
{% endblock %}
<!-- content ends-->
{% block sidebar %}
{% include "oldblog/layout/sidebar.html" %}
{% endblock %}