{% load staticfiles %}
              <div class="blog-sidebar">
                <div class="widget container hide-if-mobile">
                  <h4 style="margin-bottom: 30px;">Looking for something?</h4>
                  <form id="search" name="search_form" action="{% url 'blog_search' %}" method="post">{% csrf_token %}
                    <!-- <input  value="{{ article }}" class="text"/> -->
                    <input class="blog-search text" name="title" value="{{ search }}" type="text" placeholder="Search here...">
                  </form>
                </div>
                <div class="widget container hide-if-mobile">
                  <h4>about.me</h4>
                  <div class="decoration"></div>
                  <div class="container no-bottom">
                    <p class="thumb-left no-bottom"> <!-- user-list-item -->
                      <img src="/static/blog/img/github.png" alt="img" style="margin-top: 10px;">
                      <strong style="padding-top: 0px;">Zheng</strong><br>
                      <em>90后，男，耳机发烧友，古典、新世纪、美剧迷。先就职于百度某公司，任运维开发工程师。</em><br>
                      <em class="contact-text" style="float: left;margin-right: 20px;"><i class="fa fa-qq"></i>QQ: 773889242</em>
                      <em class="contact-mail" style="float: left;"><i class="fa fa-envelope"></i>Email: bbaobelief@163.com</em>
                      <!-- <p class="blog-post-more"><a href="#">Read More<i class="fa fa-angle-right"></i></a></p> -->

                      <div class="container no-bottom" style="margin-top: 10px;">
                        <div class="one-half-responsive">
                          <div class="sliding-door">
                            <div class="sliding-door-top">
                              <a href="#"><em></em>Show QQ</a>
                            </div>    
                            <div class="sliding-door-bottom">
                              <a href="http://wpa.qq.com/msgrd?v=3&uin=773889242&site=qq&menu=yes" target="_blank"><em></em>773889242</a>
                            </div>
                          </div>
                          <div class="sliding-door-clear"></div>
                        </div>
                        <div class="one-half-responsive last-column">
                          <div class="sliding-door">
                            <div class="sliding-door-top">
                              <a href="#"><em></em>Show Email</a>
                            </div>    
                            <div class="sliding-door-bottom">
                              <a href="mailto:bbaobelief@163.com"><em style="margin-right: 0px;"></em>bbaobelief@163</a>
                            </div>
                          </div>
                          <div class="sliding-door-clear"></div>
                        </div>
                      </div> 
                      
                    </p>
                  </div>
                </div>
                <div class="widget container">
                  <h4>文章分类</h4>
                  <div class="decoration"></div>
                  {% load simfilter %}
                  {% if categories %}
                  <div class="one-half">
                    <ul class="blog-category">
                      {% for category in categories|Category_LR:'left_value' %}
                      <li><a href="{% url 'blog_category' category.pk %}"><i class="fa fa-angle-right"></i>{{ category|upper }}</a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="one-half last-column">
                    <ul class="blog-category">
                      {% for category in categories|Category_LR:'right_value' %}
                      <li><a href="{% url 'blog_category' category.pk %}"><i class="fa fa-angle-right"></i>{{ category|upper }} </a></li>
                      {% endfor %}
                    </ul>
                  </div>
                  <div class="clear"></div>
                  {% else %}
                    <li>No Category Yet.</li>
                  {% endif %}
                </div>           
                <div class="widget container hide-if-mobile">
                  <h4>热门标签</h4>
                  <div class="decoration"></div>
                  <ul class="tag-clouds">
                    {% for tag,count in tags %}
                    <a href="/blog/tag/{{tag.id}}/" title="{{ tag }} {{ count }}"> {{ tag|capfirst }} </a>
                    {% empty %}
                    <li>No Tag Yet.</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="widget container hide-if-mobile">
                  <h4>最新文章</h4>
                  <div class="decoration"></div>
                  <ul class="normal-list">
                    {% for article in articles %}
                    <li><a href="{% url 'blog_detail' article.id %}" style="font-size: 14px;color:inherit">{{ article.title|truncatechars_html:40 }}</a></li>
                    {% empty %}
                    <li>No Article Yet.</li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="widget container hide-if-mobile">
                  <h4>友情链接</h4>
                  <div class="decoration"></div>
                  <div class="one-third">
                    <ul class="normal-list">
                      {% for link in links %}
                      <li><a href="{{ link.website }}" title={{ link.name }} target="_blank" style="font-size: 14px;">{{ link.name }}</a></li>
                      {% empty %}
                      <li>No Link Yet.</li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="widget container hide-if-mobile">
                  <h4>小鱼儿</h4>
                  <div class="decoration"></div>
                  <object type="application/x-shockwave-flash" style="outline:none;" data="{% static 'blog/swf/fish.swf' %}?up_fishColor4=F440E2&up_backgroundImage=http://&up_backgroundColor=FFFFFF&up_fishColor3=10E629&up_fishColor6=61F440&up_fishColor2=F45540&up_fishColor5=F4F440&up_fishColor8=F45540&up_foodColor=FA0505&up_fishColor1=404CF4&up_fishColor9=F45540&up_numFish=5&up_fishName=Fish&up_fishColor7=F45540&up_fishColor10=F45540&" width="370" height="245">
                    <param name="movie" value="{% static 'blog/swf/fish.swf' %}?up_fishColor4=F440E2&up_backgroundImage=http://&up_backgroundColor=FFFFFF&up_fishColor3=10E629&up_fishColor6=61F440&up_fishColor2=F45540&up_fishColor5=F4F440&up_fishColor8=F45540&up_foodColor=FA0505&up_fishColor1=404CF4&up_fishColor9=F45540&up_numFish=5&up_fishName=Fish&up_fishColor7=F45540&up_fishColor10=F45540&"></param>
                    <param name="AllowScriptAccess" value="always"></param>
                    <param name="wmode" value="opaque"></param>
                    <param name="scale" value="noscale"/>
                    <param name="salign" value="tl"/>
                  </object>
<!--                   <h4>蜘蛛侠</h4>
                  <div class="decoration"></div>
                  <object type="application/x-shockwave-flash" style="outline:none;" data="{% static 'blog/swf/spider.swf' %}?up_spiderName=Spider&up_size=1&up_legColor=333333&up_backgroundImage=http://&up_backgroundColor=FFFFFF&up_bellyColor=666666&up_speed=1&up_headColor=666666&up_originalLook=&" width="370" height="200">
                    <param name="movie" value="{% static 'blog/swf/spider.swf' %}?up_spiderName=Spider&up_size=1&up_legColor=333333&up_backgroundImage=http://&up_backgroundColor=FFFFFF&up_bellyColor=666666&up_speed=1&up_headColor=666666&up_originalLook=&"></param>
                    <param name="AllowScriptAccess" value="always"></param>
                    <param name="wmode" value="opaque"></param>
                    <param name="scale" value="noscale"/>
                    <param name="salign" value="tl"/>
                    <param name="bgcolor" value="FFFFFF"/>
                  </object> -->
                </div>
                <div class="widget container hide-if-mobile">
                  <h4>最新评论</h4>
                  <ul class="normal-list">
                  <!-- 多说最新评论 start -->
                      <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
                  <!-- 多说最新评论 end -->
                  <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                  <script type="text/javascript">
                  var duoshuoQuery = {short_name:"fashao"};
                    (function() {
                        var ds = document.createElement('script');
                        ds.type = 'text/javascript';ds.async = true;
                        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                        ds.charset = 'UTF-8';
                        (document.getElementsByTagName('head')[0] 
                         || document.getElementsByTagName('body')[0]).appendChild(ds);
                    })();
                  </script>
                  <!-- 多说公共JS代码 end -->
                  </ul>
                </div>
              </div>